@charset "utf-8";
/* CSS Document */


*{
    font-family: 微軟正黑體;
}

.fw{
    font-weight: bold;
}

strong{
    color: #ff5c33;
}

.navbar{
    border-radius: 50px;
    margin: 12px 100px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.8;
    transition: 0.5s;
}

.cc{
    background-position: right;
    margin: -0.1% 5%;
}

@media(max-width:1500px){
    .text-width{
        width: 100% !important;
    }
    #story{
      background-image: none;
      height: 600px !important;
    }
    .card{
        width: 300px !important;
        margin: auto !important;
    }
}

@media(max-width:770px){
    .map{
        width: 500px !important;
        margin-left: 0px !important;
      }
    .about-img{
        width: 450px !important;
        height: 450px !important;
        padding: 0px !important;
    }
    .xan{
        margin-top: 20px;
    }
}

.xan{
    border-radius: 100px;
    margin-bottom: 7px;
}

.text-width{
    width: 80%;
    font-size: 17px;
    line-height: 42px;
    padding-bottom: 60px;
    margin: auto;
}

.r_body{
    border: solid 3px #2f1b0f;
    border-radius: 20px;
    width: 280px;
    height: 350px;
    background-color: rgba(255,255,255,0.9);
    z-index: 998;
    position: fixed;
    right: 78px;
    bottom: 178px;
    padding: 6px;
}

#rsay_to{
    height: 69%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.r_photo{
    width: 40px;
    height: 40px;
    margin-left: 27px;
    margin-top: 10px;
}

.r_pic{
    width: 40px;    
    height: 40px;
    margin-left: 7px;
}

.r_p{
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    color: #fff;
    background-color: #2f1b0f;
    border-radius: 100%;
    margin-left: 7px;
    margin-top: 40px;
}

.talk{
    background-color: #2f1b0f;
    border-radius: 7px 7px 0px 7px;
    color: #fff;
    margin-top: 20px;
    padding: 7px;
    
}

.r_hi{
    width: 64%;
    padding: 7px;
    background-color: #e1e1e1;
    border-radius: 0px 7px 7px 7px;
    margin-left: 7px;
    margin-top: 20px;
}

.robot_pic{
    background-image: url(../images/robot.png);
    background-size: cover;
}

.robot_top{
    z-index: 998;
    width: 80px;
    height: 160px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    bottom: 21px;
}

.robot_top span{
    width: 70px;
    height: 70px;
    border:solid 3px #fff;
    border-radius: 100%;
    background-color: #2f1b0f;
    text-align: center;
    padding-top: 21px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.noline,.noline:hover{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    display: block;
}

.rr_div{
    margin-left: 100px;
}

.r_div{
    margin-left: 7px;
}

.r_c{
    position: fixed;
    bottom: 232px;
    margin-left: 30px;
}

.r_c .btn-success{
    font-size: 17px;
}

.r_box{
    position: fixed;
    bottom: 190px;
    margin-left: 1px;
}

.r_text{
    padding: 5px;
    border-radius: 20px;
    background-color: #e1e1e1;
    border:none;
    width: 259px;

}

.mbox{
    padding: 0;
    margin: 0;
    border-top: 5px solid #2f1b0f;
    border-bottom: 5px solid #2f1b0f;
}

.mbox .close{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container{
    width: 80%;
}

#sebox{
    max-width: 120px;
}

.carousel-caption{
    left: 20%;
    bottom: 7%;
}

.nav-link{
    color: #2f1b10;
    font-size: 23px;
    font-weight: bold;
    transition: 0.5s;
}


.page2{
    background-image: url(../images/order_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 980px;
}

.map{
    margin-left: 100px;
    margin-bottom: 70px;
    width: 700px;
}

.inshadow .shadow_o,.inshadow .shadow_c{
    margin-top: 100px;
    text-shadow: rgba(255,255,255,0.5)0px 3px 3px;
    font-size: 6vw;
    letter-spacing: 15px;
    -webkit-background-clip: text;
    color:transparent;
    font-weight: bold;
}

.inshadow .shadow_o{
    background-color: #693415;
}

.inshadow .shadow_c{
    background-color: #693415;
}

.about-img{
    margin: 20% 0px;
    width: 500px;
    height: 500px;
    border-radius: 0px 100px 0px 100px;
}

.page3{
    background-image: url(../images/active-img.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.page4{
    background-image: url(../images/footer-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
}

.card-body{
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
}

.act-btn{
    font-size: 20px;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 10px;
    border:solid 4px #2f1b0f;
    color: #2f1b0f;
    background-color: rgba(255,255,255,0);
    transition: 0.5s;
}

.act-btn:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #2f1b0f;
    color: #fff;
}

.linet,.linet:hover{
    text-decoration: none;
    color: #2f1b0f;
    cursor: pointer;
}

.btn-rr{
    font-size: 17px;
    background-color: rgba(255,255,255,0);
    color: #2f1b0f;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 7px;
    border:solid 3px #2f1b0f;
    transition: 0.5s;
}

.btn-rr:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: #2f1b0f;
    color: #fff;
}

footer{
    background-color: #bfcab8;
    color: #2f1b0f;
    font-weight: bold;
    padding-top: 20px;
}